<html class="scroll-v os-windows is-medium-columns txt-size--14">
<head>
    <meta charset="utf-8">
    <title>CAB 432 Assignment Error</title>
    <meta name="application-name" content="CAB API Error">
    <meta name="description" content="CAB API Error">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-ui.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
	
</head>
<body>

	<div class="page-content">
		<%= text %>
	</div>

</body>
</html>
