<html class="scroll-v os-windows is-medium-columns txt-size--14">
<head>
    <meta charset="utf-8">
    <title>CAB API</title>
    <meta name="application-name" content="CAB API">
    <meta name="description" content="CAB API">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-ui.min.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/request.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

	<script type="text/javascript" id="data-config">
	  	var config = "<%= config %>";
	</script>

</head>
<body>

	<div class="page-content">

	    <div class="page-wrapped" id="page-wrapped">
	    	<img class="page-map" src="img/australia.jpg">
	    </div>  

	</div>
	<button class="panel-button" type="button" id="zoom_in" title="In">
	    <span class="icon icon-zoom-in"></span>
	</button>
	<button class="panel-button" type="button" id="zoom_out" title="Out">
	    <span class="icon icon-zoom-out"></span>
	</button>

	<div id="modalfade"></div>
	<div class="win-popup-message" id="msgPopup">
		<div class="win-popup-message-header">
			<span class="select-menu-message-title" id="msgTitle">Departure</span>
			<button class="close-button panel-button" type="button" id="popup_close">
			    <span class="icon icon-close"></span>
			</button>
		</div> 
		<div class="win-popup-message-list" id="msgBody">

		</div> 
	</div>

</body>
</html>
